bath/nodered/.node-red/start
[{"id":"6ae6fccb.724f54","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"4274b131.cacdd","type":"tab","label":"Real Interface","disabled":false,"info":""},{"id":"f6e3b465.92038","type":"tab","label":"Mock","disabled":false,"info":""},{"id":"5b722f82.c34628","type":"tab","label":"Input handling","disabled":false,"info":""},{"id":"2fa662f0.7d232e","type":"tab","label":"Output handling","disabled":false,"info":""},{"id":"166e4255.33e4ce","type":"websocket-listener","z":"","path":"/local","wholemsg":"false"},{"id":"6da4f2a2.5665d4","type":"websocket in","z":"4274b131.cacdd","name":"","server":"166e4255.33e4ce","client":"","x":140,"y":540,"wires":[["4a646354.057ca4"]]},{"id":"1287bcc0.2d8803","type":"websocket out","z":"4274b131.cacdd","name":"","server":"166e4255.33e4ce","client":"","x":740,"y":300,"wires":[]},{"id":"76755799.ec6ba","type":"inject","z":"4274b131.cacdd","name":"all high","topic":"","payload":"{\"type\" : \"CHANGE\",\"argument\" :\"sah\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":260,"wires":[["1287bcc0.2d8803"]]},{"id":"c263cacd.1db1e8","type":"http request","z":"4274b131.cacdd","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://127.0.0.1/api/rest/ping","tls":"","persist":false,"proxy":"","authType":"","x":670,"y":140,"wires":[[]]},{"id":"82476391.6954d8","type":"inject","z":"4274b131.cacdd","name":"initial connect","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"1","x":380,"y":160,"wires":[["c263cacd.1db1e8"]]},{"id":"5f49dbd6.1e6b2c","type":"inject","z":"4274b131.cacdd","name":"all low","topic":"","payload":"{\"type\" : \"CHANGE\",\"argument\" :\"sal\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":360,"wires":[["1287bcc0.2d8803"]]},{"id":"93b45b53.7d4a68","type":"inject","z":"4274b131.cacdd","name":"half high","topic":"","payload":"{\"type\" : \"CHANGE\",\"argument\" :\"shh\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":264,"y":307,"wires":[["1287bcc0.2d8803"]]},{"id":"405a11dd.df821","type":"inject","z":"f6e3b465.92038","name":"all high","topic":"","payload":"{\"type\" : \"CHANGE\",\"argument\" :\"sah\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":530,"y":380,"wires":[[]]},{"id":"490368f8.8d5408","type":"debug","z":"f6e3b465.92038","name":"send back","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":870,"y":660,"wires":[]},{"id":"9664854.7be7a78","type":"inject","z":"f6e3b465.92038","name":"BW Esszimmer high","topic":"","payload":"{\"state\":1,\"attributes\":{\"friendly_name\":\"BW_Esszimmer\"}}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":390,"y":600,"wires":[["ffdbda83.a8f4d8"]]},{"id":"33c6d64a.47f45a","type":"inject","z":"f6e3b465.92038","name":"all low","topic":"","payload":"{\"type\" : \"CHANGE\",\"argument\" :\"sal\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":530,"y":480,"wires":[[]]},{"id":"5c6d6220.5c113c","type":"inject","z":"f6e3b465.92038","name":"half high","topic":"","payload":"{\"type\" : \"CHANGE\",\"argument\" :\"shh\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":524,"y":427,"wires":[[]]},{"id":"328f279.fe95158","type":"inject","z":"f6e3b465.92038","name":"Bw esszimmer low","topic":"","payload":"{\"state\":0,\"attributes\":{\"friendly_name\":\"BW_Esszimmer\"}}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":390,"y":640,"wires":[["ffdbda83.a8f4d8"]]},{"id":"dc8810e9.ebc568","type":"link out","z":"4274b131.cacdd","name":"sensorValueSend","links":["97a9dc1e.702fe8"],"x":415,"y":540,"wires":[]},{"id":"97a9dc1e.702fe8","type":"link in","z":"5b722f82.c34628","name":"common logic interface","links":["dc8810e9.ebc568","ffdbda83.a8f4d8"],"x":75,"y":200,"wires":[["e3c65860.2ff35"]]},{"id":"8a755d28.8e9eb8","type":"function","z":"5b722f82.c34628","name":"decode","func":"var m = msg.payload;\nif(m[\"message.type\"] != undefined && m[\"message.type\"] == \"ping\"){\n    return null;\n}\nvar state = m.state;\nvar name = m.attributes.friendly_name\nreturn {\"state\":state,\"name\":name}\n","outputs":1,"noerr":0,"x":340,"y":200,"wires":[["61631666.64d7d8"]]},{"id":"61631666.64d7d8","type":"switch","z":"5b722f82.c34628","name":"sensor name","property":"name","propertyType":"msg","rules":[{"t":"eq","v":"Schalter","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":490,"y":200,"wires":[["8020d6af.5a573"],["5543462a.2bbbb8"]]},{"id":"8020d6af.5a573","type":"switch","z":"5b722f82.c34628","name":"Schalter","property":"state","propertyType":"msg","rules":[{"t":"neq","v":"","vt":"prev"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":720,"y":120,"wires":[["149bede0.051fd2"],["f7b610bd.6aea68"]]},{"id":"e3c65860.2ff35","type":"json","z":"5b722f82.c34628","name":"","property":"payload","action":"","pretty":false,"x":184,"y":200,"wires":[["8a755d28.8e9eb8"]]},{"id":"5543462a.2bbbb8","type":"debug","z":"5b722f82.c34628","name":"no sensor","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":520,"y":240,"wires":[]},{"id":"f7b610bd.6aea68","type":"debug","z":"5b722f82.c34628","name":"no schalter","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"name","targetType":"msg","x":770,"y":160,"wires":[]},{"id":"d0439ee1.a2e52","type":"link out","z":"5b722f82.c34628","name":"onLightTurnsOn","links":["6a475955.f29f4"],"x":1715,"y":180,"wires":[]},{"id":"b9346222.9635e","type":"link out","z":"5b722f82.c34628","name":"onLightTurnsOff","links":["91d1eeb7.29a628"],"x":1715,"y":320,"wires":[]},{"id":"ffdbda83.a8f4d8","type":"link out","z":"f6e3b465.92038","name":"mockToCommonLogic","links":["97a9dc1e.702fe8"],"x":540,"y":660,"wires":[]},{"id":"4f7b462f.be5be","type":"link in","z":"f6e3b465.92038","name":"mockLightObserver","links":["158e96de.f1fb31","2167b3be.c55afc"],"x":735,"y":660,"wires":[["490368f8.8d5408"]]},{"id":"8f7ed887.d4652","type":"link in","z":"4274b131.cacdd","name":"turnLightsObserver","links":["158e96de.f1fb31","2167b3be.c55afc"],"x":575,"y":480,"wires":[["687d07fc.6d31b8"]]},{"id":"4a646354.057ca4","type":"function","z":"4274b131.cacdd","name":"onlyTesting","func":"\nvar onlyTesting = global.get(\"ONLY_TESTING\");\n\nif(onlyTesting == undefined || onlyTesting == null){\nreturn msg;\n}\n\nif(onlyTesting == true){\n    return null;\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":310,"y":540,"wires":[["dc8810e9.ebc568"]]},{"id":"687d07fc.6d31b8","type":"function","z":"4274b131.cacdd","name":"onlyTesting","func":"\nvar onlyTesting = global.get(\"ONLY_TESTING\");\n\nif(onlyTesting == undefined || onlyTesting == null){\nreturn msg;\n}\n\nif(onlyTesting == true){\n    return null;\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":710,"y":480,"wires":[["1287bcc0.2d8803"]]},{"id":"793edb40.d9e66c","type":"inject","z":"f6e3b465.92038","name":"turn only testing on","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":530,"y":220,"wires":[["8fe6cbf7.a551b"]]},{"id":"8fe6cbf7.a551b","type":"function","z":"f6e3b465.92038","name":"set global testing","func":"if(msg.payload == true){\nglobal.set(\"ONLY_TESTING\",true);\n}\n\nif(msg.payload == false){\nglobal.set(\"ONLY_TESTING\",undefined);\n}\n\nnode.warn(\"only testing set to \"+global.get(\"ONLY_TESTING\"));","outputs":1,"noerr":0,"x":810,"y":200,"wires":[[]]},{"id":"d8c8f9e4.5f5bd8","type":"inject","z":"f6e3b465.92038","name":"turn only testing off","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":530,"y":260,"wires":[["8fe6cbf7.a551b"]]},{"id":"4f4ef69f.d8b9d8","type":"inject","z":"f6e3b465.92038","name":"Bw stiege low","topic":"","payload":"{\"state\":0,\"attributes\":{\"friendly_name\":\"BW_Stiege\"}}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":390,"y":820,"wires":[["ffdbda83.a8f4d8"]]},{"id":"48927dee.f7676c","type":"inject","z":"f6e3b465.92038","name":"Bw stiege high","topic":"","payload":"{\"state\":1,\"attributes\":{\"friendly_name\":\"BW_Stiege\"}}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":380,"y":740,"wires":[["ffdbda83.a8f4d8"]]},{"id":"149bede0.051fd2","type":"switch","z":"5b722f82.c34628","name":"","property":"state","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1030,"y":200,"wires":[["d0439ee1.a2e52"],["c8ab8ffd.371de8"]]},{"id":"c8ab8ffd.371de8","type":"function","z":"5b722f82.c34628","name":"generate command","func":"\nvar msg = {};\nmsg.payload = {\"type\" : \"CHANGE\",\"argument\" :\"sal\"};\nreturn msg;","outputs":1,"noerr":0,"x":1560,"y":340,"wires":[["b9346222.9635e"]]},{"id":"158e96de.f1fb31","type":"link out","z":"2fa662f0.7d232e","name":"onLightTurnsOn","links":["4f7b462f.be5be","8f7ed887.d4652"],"x":855,"y":120,"wires":[]},{"id":"56aa05da.9d3994","type":"function","z":"2fa662f0.7d232e","name":"night message","func":"\nnode.status({fill:\"green\",shape:\"dot\",text:\"called \"});\n\n\nvar msg = {};\nmsg.payload = {\"type\" : \"CHANGE\",\"argument\" :\"431\"};\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":100,"wires":[["158e96de.f1fb31"]]},{"id":"6a475955.f29f4","type":"link in","z":"2fa662f0.7d232e","name":"turnLightsOn","links":["d0439ee1.a2e52"],"x":140,"y":240,"wires":[["8d6011d9.694d48"]]},{"id":"2167b3be.c55afc","type":"link out","z":"2fa662f0.7d232e","name":"onLightTurnsOff","links":["b7e3bb80.369a78","4f7b462f.be5be","8f7ed887.d4652"],"x":515,"y":340,"wires":[]},{"id":"91d1eeb7.29a628","type":"link in","z":"2fa662f0.7d232e","name":"turnLightsOff","links":["b9346222.9635e"],"x":140,"y":360,"wires":[["2167b3be.c55afc"]]},{"id":"8d6011d9.694d48","type":"time-range-switch","z":"2fa662f0.7d232e","name":"dusk-solarNoon","lat":"","lon":"","startTime":"dusk","endTime":"solarNoon","startOffset":0,"endOffset":0,"x":370,"y":100,"wires":[["56aa05da.9d3994"],["14709ad.fd55665"]]},{"id":"14709ad.fd55665","type":"function","z":"2fa662f0.7d232e","name":"half high message","func":"\n\nnode.status({fill:\"green\",shape:\"dot\",text:\"called \"});\n\nvar msg = {};\nmsg.payload = {\"type\" : \"CHANGE\",\"argument\" :\"shh\"};\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":160,"wires":[["158e96de.f1fb31"]]},{"id":"db5fa900.35378","type":"inject","z":"4274b131.cacdd","name":"night high","topic":"","payload":"{\"type\":\"CHANGE\",\"argument\":\"431\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":260,"y":420,"wires":[["1287bcc0.2d8803"]]}]